/* BLOG */
.blog-post{
    position: relative;
    margin-bottom: 50px;
	
	@media only screen and (max-width: 591px) {
		margin-bottom: 40px;
	}
}
.ld-post-title {
    margin-bottom: 5px;
}
.ld-post-title h1{
	font-size:35px;
	
	@media only screen and (max-width: 767px) {
		font-size: 28px;		
	}
}
.ld-post-title .post-title {
    margin-bottom: 5px;
}
.ld-post-meta {
    margin-bottom: 15px;
}
.ld-post-meta ul {
    list-style: none;
	text-transform:capitalize;
	margin: 0;
    padding: 0;
}
.ld-post-meta ul li {
    padding: 0;
    display: inline-block;
    color: #25314a;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.ld-post-meta ul li strong{
	font-weight: 500;
}
.ld-post-meta a {
    color:var(--bs-primary);
}
.ld-post-meta i {
    margin: 0 5px;
	font-size: 15px;
}
.ld-post-text {
    margin-bottom: 20px;
}
.ld-post-text p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.5;
	
	@media only screen and (max-width: 767px) {
		font-size: 16px;
	}
}
.ld-post-text p:last-child {
    margin: 0;
}
.blog-group .blog-post{
	margin-bottom:30px;
}
.blog-group .blog-post{
	display: flex;
}
.blog-group .blog-post .ld-post-info{
	padding: 30px;
}
.blog-group .blog-md .ld-post-media {
    width: 350px;
    max-width: 350px;
    min-width: 350px;
}
.blog-group .blog-md .ld-post-media img {
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 1200px) {
	.ld-post-meta .d-flex{
		display:block !important;
	}
}
.blog-md .ld-post-media {
    width: 350px;
	border-radius: 4px;
}
.blog-md.sm-large,
.blog-md.md-large{
	display: flex;
    flex-wrap: wrap;
}
.blog-md.md-large{
	margin-bottom:60px;
}
.blog-md.md-large .ld-post-media {
	width:55%;
	flex: 0 0 55%;
}
.blog-md.md-large .ld-post-info{
	width:45%;
	flex: 0 0 45%;
	display: flex;
    flex-direction: column;
	padding: 30px 0 30px 30px;
}
.blog-md.md-large .post-title{
	font-size:40px;
	line-height:50px;
}
.blog-md.sm-large .media-post li a,
.blog-md.md-large .media-post li a {
    color: #a3b1c7;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 600;
}
.blog-md.sm-large .media-post li a{
	font-size: 14px;
}
.blog-md.md-large p{
    font-size: 18px;
    color: #585a86;
	line-height: 32px;
}
.blog-md.sm-large .media-post,
.blog-md.md-large .media-post{
	border:0;
	padding: 0;
    margin-bottom: 10px;
}
.blog-md.md-large .ld-post-info .post-title{
	margin-bottom: 10px;
}
.blog-md.sm-large .ld-post-info  .post-extra,
.blog-md.md-large .ld-post-info  .post-extra{
	border:0;
	margin-top:auto;
}
.blog-md.sm-large{
	margin-bottom:0;
}
.blog-md.sm-large .ld-post-media {
	width:45%;
	flex: 0 0 45%;
	display: flex;
    align-items: stretch;
}
.blog-md.sm-large .ld-post-info{
	width:55%;
	flex: 0 0 55%;
	display: flex;
    flex-direction: column;
	padding: 0 0 0 30px;
}
.blog-md.sm-large .post-title{
	font-size:22px;
	line-height:32px;
}
.blog-md .ld-post-info {
    border: none;
	padding-left:30px;
}
.blog-md .ld-post-tags {
    border: none;
    display: inline-block;
    padding: 0;
}
.blog-md .ld-post-info .post-title{
	margin-top:0;
}
.blog-md, 
.blog-md .ld-post-info {
    overflow: hidden;
}
.blog-md .ld-post-info, 
.blog-md .ld-post-media {
    display: table-cell;
    vertical-align: middle;
}
.blog-md .ld-post-media {
	vertical-align: top;
}
.blog-md .ld-post-info > div:last-child{
	margin-bottom:0;
}
.blog-area .heading-bx {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.side-post{
	border-left: 1px solid rgba(0,0,0,0.1);
}
.side-post .blog-post.blog-md{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom:30px;
	padding-bottom:30px;
	padding-left:30px;
}
.side-post .blog-post.blog-md:last-child{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.side-post .blog-md .ld-post-info h4 {
    font-size: 24px;
}
.side-post .blog-md .ld-post-info{
    padding-left: 20px;
}
.side-post .blog-md .ld-post-media {
	width: 200px;
}
.blog-share{
	position:relative
}
.share-btn{
	position:absolute;
	right:0;
	bottom:0;
}
.share-btn ul{
	margin:0;
	padding:0;
	list-style:none;
}
.share-btn ul li{
	display:inline-block;
	margin-left: -40px;
	float: left;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
}
.share-btn ul li a.btn{
	border-radius: 3px;
	width: 40px;
	line-height: 44px;
	height:44px;
	display: block;
	color:#000;
	background: #E6E6E6;
}
.share-btn ul li a.btn:hover{
	background:#D6D6D6;
}
.share-btn ul:hover li.share-button a.btn{
	background:#A0A0A0;
}	
.share-btn ul:hover li{
	margin-left: 4px;
}
.share-details-btn ul{
	margin:0;
	padding:0;
	list-style:none;
}
.share-details-btn ul li{
	display:inline-block;
	margin-right: 5px;
	margin-bottom: 6px;
}
.recent-news{
	margin-bottom:50px;
	position: relative;
	
	@media only screen and (max-width: 591px) {
		margin-bottom: 40px;
	}
}
.blog-post .media-post li a,
.blog-single .media-post li a,
.recent-news .media-post li a{
	font-weight: 400;
    color: #696969;
    font-size: 15px;
    letter-spacing: unset;
    line-height: 22px;	
}
.blog-post .media-post,
.blog-single .media-post,
.recent-news .media-post{
	display: flex;
    align-items: center;
	border-bottom:0;
	padding:0;
	margin-bottom: 10px;
    list-style: none;	
}
.blog-single .post-title,
.recent-news .post-title{
	font-weight: 700;
}
.blog-post .post-title,
.recent-news .post-title{
	margin-bottom: 10px;
}
.recent-news .media-post li.date{
	padding:0;
	line-height: 14px;
}
.recent-news .media-post li{
	padding: 0 20px 0 0px;
	position:relative;
}
.recent-news .media-post li.admin a img{
	width: 36px;
    height: 36px;
	margin-right: 15px;
    border-radius: 36px;
}
.recent-news .media-post li.comment a{
	display: flex;
}
.blog-post .media-post li a i,
.recent-news .media-post li a i{
	margin-right:5px;
}
.blog-post .btn-link,
.recent-news .btn-link{
	color:var(--bs-primary);
	font-size:15px;
	font-weight:600;
	border-bottom:1px solid;
	border-radius:0;
	text-decoration: none !important;	
}
.blog-post .ld-post-info p,
.recent-news .info-bx p{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
}
.blog-post .ld-post-info p{
	margin-bottom:10px;
}
.blog-post .media-post{
	margin-bottom: 10px;
}
.recent-news .info-bx{
	position:unset;
	padding-top: 25px;
}
.recent-news .post-extra{
    padding: 0;
    border: 0;
	position: relative;
}
.recent-news .post-extra .btn{
	padding: 13px 30px;
}
.aside-bx{
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 30px;
}
@media only screen and (max-width: 1200px) {
	.blog-md .ld-post-media {
		width: 250px;
	}
}
@media only screen and (max-width: 767px) {
    .blog-md.blog-post .ld-pfost-media,
    .blog-md.blog-post .ld-post-info {
        float: none;
        margin: 0 0 20px;
        width: 100%;
		display:block;
		padding-left:0;
    }
	.blog-md.blog-post .ld-post-info {
		margin-top:20px;
	}
	.blog-md .ld-post-media {
		width:100%;
	}
	.blog-md.blog-post .ld-post-info{
		padding: 25px 0 0;
		margin: 0;
	}
}



.blog-card{
	background-color: #fff;
    padding: 20px;
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-light);
	
	@media (max-width: 767px){
		padding: 15px;
	}
	.ld-post-media{
		a{
			display: block;
		}
		img {
			border-radius: var(--bs-border-radius);
		}
	}
}
.blog-card-v1{
	margin-bottom: 20px;

	.media-post{
		margin-bottom: 5px;
		
		li a{
			color: #999999;
			font-size: 16px;
			line-height: 1.2;
			
			@media (max-width: 767px){
				font-size: 14px;
			}
		}
	}
	.post-title{
		font-size: 24px;
		line-height: 1.4;
		
		@media (max-width: 767px){
			font-size: 20px;
		}
	}
	.ld-post-info{
		padding: 35px 10px 20px;
		
		@media only screen and (max-width: 591px) {
			padding: 25px 10px 15px;			
		}
	}
	.btn-link{
		border: 0;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		line-height: 1.2;
		font-weight: 500;
		
		span{
			border-bottom: 1px solid;
		}
		i{
			font-weight: 700;
			font-size: 15px;
		}
	}
	&.blog-md{
		display: flex;
		
		.ld-post-info{
			padding: 25px 40px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.ld-post-media{
			width: 250px;
			min-width: 250px;
			height: 260px;
			
			a{
				height: 100%;
				width: 100%;
			}
			img{
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		@media (max-width: 767px){
			.ld-post-media{
				width: 200px;
				min-width: 200px;
				height: 215px;
			}
			.ld-post-info{
				padding: 15px 25px;
			}				
		}
		@media (max-width: 591px){
			flex-direction: column;
			
			.ld-post-media{
				width: 100%;
				min-width: 100%;
			}
			.ld-post-info{
				padding: 15px 10px;
			}
		}
	}
}
.blog-card-v2{
	margin-bottom: 20px;

	.media-post{
		margin-bottom: 5px;
		
		li{
			font-size: 14px;
			text-transform: uppercase;
			color: #C3C3C3;
			
			a{
				color: #666;
				line-height: 1.2;
			}
			&:not(:last-child){
				&::after{
					content: "/";
					margin: 0 10px;
				}
			}
		}
	}
	.post-title{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: 8px;
		
		@media (max-width: 767px){
			font-size: 20px;
		}
	}
	.ld-post-media{
		img{
			border-radius: 4px;
			height: 100%;			
			object-fit: cover;
		}
	}
	.ld-post-info{
		padding: 20px 0 10px;
	}
}
.blog-card-v3{
	margin-bottom: 20px;

	.media-post{
		margin-bottom: 5px;
		
		li{
			font-size: 14px;
			text-transform: uppercase;
			color: rgba(68, 68, 68, 0.3);
			font-weight: 400;

			a{
				color: #666666;
				line-height: 1.2;
				font-weight: 300;
			}
			&:not(:last-child){
				&::after{
					content: "/";
					margin: 0 10px;
				}
			}
			&.date{
				a{
					color: var(--bs-secondary);
				}
			}
		}
	}
	.post-title{
		font-size: 28px;
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: 8px;
		
		@media (max-width: 767px){
			font-size: 20px;
		}
	}
	.ld-post-media{
		img{
			border-radius: 20px;
			height: 100%;			
			object-fit: cover;
		}
	}
	.ld-post-info{
		padding: 20px 0 10px;
	}
}