// HEADER TOPBAR
.top-bar {
    background-color: var(--bs-primary);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    color: #fff;
    padding: 11px 0;
	
	.top-inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -15px;
		margin-right: -15px;
	}
}
.topbar-left{
    float: left;
}
.topbar-right{
    float: right;
}
.topbar-center,
.topbar-left,
.topbar-right {
    padding-left: 15px;
    padding-right: 15px;
}
.topbar-left ul li,
.topbar-right ul li{
	display:inline-block;
	position:relative;
}
.topbar-left ul li a,
.topbar-right ul li a{
	color:#fff;
	font-size: 15px;
    display: flex;
    align-items: center;	
}
.topbar-left ul,
.topbar-right ul{
	margin:0;
	padding:0;
	list-style:none;
	font-size:14px;
}
.topbar-left ul li{
	padding-right:10px;
	margin-right:10px;
}
.topbar-right ul li{
	padding-left:10px;
	margin-left:10px;
}
.topbar-left ul li i{
	margin-right:5px;
	font-size: 18px;
	color: #fff;
}
.topbar-left ul li:after,
.topbar-right ul li:after{
	position: absolute;
    width: 1px;
    height: 20px;
    background-color: #fff;
    right: -1px;
    content: "";
    top: 2px;
    opacity: 0.1;
}
.topbar-right ul li:after{
	right:auto;
	left:0;
}
.topbar-right ul li:first-child:after,
.topbar-left ul li:last-child:after{
	content:none;
}
@media only screen and (max-width: 991px) {
	.topbar-left{
		margin-bottom:5px;
	}
	.topbar-right,
	.topbar-left{
		padding-left: 0;
		padding-right: 0;
		width:100%;
		text-align:center;
	}
	.topbar-right ul li,
	.topbar-left ul li{
		margin:0;
		padding: 0px 5px;
	}
}
@media only screen and (max-width: 767px) {
    .top-bar [class*="col-"] {
        width: 100%;
        text-align: right;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .top-bar [class*="col-"]:last-child {
        border-bottom: none;
    }
	.top-bar {
		padding:5px 0;
		display: none;
	}
	.topbar-center,
	.topbar-left,
	.topbar-right {
		display:black;
		width:100%;
		text-align:center;
		padding:3px 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.topbar-left ul li{
		padding:0 5px;
	}
}