// Start:Genda Basic Variables
$min-contrast-ratio:   1.5 !default;

$body-bg:          #fff !default;
$body-color:       #5a564d !default;
$border-color:     #EEE9F3;
$headings-color:   #0B001F;
$headings-font-weight: 600;
$headings-line-height: 1.25;
$font-weight-base: 400;
$headings-font-family: "Gotu", serif !default;
$font-family-base: "Kanit", serif !default;
$font-size-base:   1rem !default;
$line-height-base: 1.6 !default;
$small-font-size: 12px;
// End:Genda Basic Variables


// stylelint-disable value-keyword-case
$h1-font-size: 60px;
$h2-font-size: 48px;
$h3-font-size: 35px;
$h4-font-size: 28px;
$h5-font-size: 22px;
$h6-font-size: 18px;
// scss-docs-end font-variables


// Start:Genda theme-color-variables
$primary:       #B6554F !default;
$secondary:     #FF8110 !default;
$success:    	#5cb85c !default;
$info:          #5bc0de !default;
$warning:       #f0ad4e !default;
$danger:        #d9534f !default;
$light:         #FFF8EC !default;
$dark:          #3e0906 !default;
$gray:          #f7ecd9 !default;
$white:         #ffffff !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "white":      $white,
  "gray":       $gray
) !default;
// End:Genda theme-color-variables


// Start:Genda Border Radius Variables
$border-radius:       .375rem;
$border-radius-sm:    .25rem;
$border-radius-lg:    .625rem;
$border-radius-xl:    1rem;
$border-radius-xxl:   2rem;
$border-radius-pill:  50rem;
// End:Genda Border Radius Variables


// Start:Genda Card Variables
$card-spacer-y:       15px;
$card-spacer-x:       20px;
$card-border-color:   #E1E5ED;
$card-border-radius:  $border-radius-lg;
$card-box-shadow:     0px 5px 10px 0px rgba(0, 0, 0, 0.02);
$card-cap-padding-y:  $card-spacer-y;
$card-cap-padding-x:  $card-spacer-x;
$card-bg:             #fff;
$card-height:  		  calc(100% - var(--bs-gutter-x));
$card-cap-bg:  		  transparent;
// End:Genda Card Variables


// Start:Genda Input Button Variables
$input-btn-padding-y: 12px;
$input-btn-padding-x: 24px;
$input-btn-font-size: 16px;
 
$input-btn-padding-y-sm: 5px;
$input-btn-padding-x-sm: 10px;
$input-btn-font-size-sm: 13px;

$input-btn-padding-y-lg: 15px;
$input-btn-padding-x-lg: 35px;
$input-btn-font-size-lg: 18px;

$btn-border-radius:      4px;
$btn-border-radius-sm:   6px;
$btn-border-radius-lg:   10px;

$input-font-size-lg: 18px;
$input-font-size: 15px;
$input-font-size-sm: 12px;
$input-line-height: 1.334;

$input-padding-y: 12px;
$input-padding-x: 18px;
$btn-line-height: 1.25;
$input-focus-border-color: var(--bs-primary);
$input-focus-box-shadow: none;
// End:Genda Input Button Variables

// Start:Genda focus-ring-variables
$focus-ring-width:      .20rem !default;
$focus-ring-opacity:    .25 !default;
$focus-ring-color:      rgba(var(--bs-primary-rgb), $focus-ring-opacity) !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;
// End:Genda focus-ring-variables

// Start:Genda form-check-input
$form-check-input-width: 1.15em;
$form-check-input-width: 1.15em;
$form-check-input-checked-bg-color: var(--bs-primary);
$form-check-input-checked-border-color: var(--bs-primary);
// End:Genda form-check-input
  

// Start:Genda Badge Variables
$badge-padding-x:   10px;
$badge-padding-y:   4px;
$badge-font-size:   12px;
$badge-font-weight: 500;
// End:Genda Badge Variables


// Start:Genda Alert Variables
$btn-close-width:        12px;
$alert-padding-x:        15px;
$alert-padding-y:        12px;
$alert-margin-bottom:    12px;
$alert-link-font-weight: 600;
// End:Genda Alert Variables


// Start:Genda Variables Progress
$progress-height: 12px;
// End:Genda Variables Progress


// Start:Genda Dropdown Progress
$dropdown-padding-x: 6px;
$dropdown-padding-y: 6px;
$dropdown-border-color: $border-color;
$dropdown-link-active-color: var(--bs-primary);
$dropdown-link-active-bg: var(--bs-primary-bg-subtle);
// End:Genda Dropdown Progress


// Start:Genda container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1170px
) !default;
// End:Genda Alert container-max-widths

// Start:Genda grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1480px
);
// End:Genda grid-breakpoints


// Start:Genda grid-gutter-width
$grid-gutter-width: 1.25rem;
// End:Genda grid-gutter-width


// Start:Genda breadcrumb-css-vars
$breadcrumb-margin-bottom: 0;
// End:Genda breadcrumb-css-vars


:root{
	--custom-shadow: 0 2px 4px 0 rgba(225, 229, 237, 0.2);
	--bs-headings-font-family: #{$headings-font-family};
}
body[data-bs-theme="dark"]{
    --bs-light: #292a2c;
    --bs-light-rgb: 41, 42, 44;
	--bs-heading-color: #ffffff;
	--bs-body-color: #a9a9a9;
	--custom-shadow: 0 2px 4px 0 rgb(56, 56, 56, 0.2);
	--bs-black: #ffffff;
}