// FONT SIZE
.fs10 { font-size: 10px; }
.fs12 { font-size: 12px; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs30 { font-size: 30px; line-height:40px; }
.fs35 { font-size: 35px; line-height:45px; }
.fs40 { font-size: 40px; line-height:50px; }
.fs45 { font-size: 45px; line-height:55px; }
.fs50 { font-size: 50px; line-height:65px; }
.fs55 { font-size: 55px; line-height:65px; }
.fs60 { font-size: 60px; line-height:70px; }
.fs70 { font-size: 70px; line-height:80px; }
.fs75 { font-size: 75px; line-height:85px; }
.fs80 { font-size: 80px; line-height:90px; }
.fs90 { font-size: 90px; line-height:100px; }
.fs100 { font-size: 100px; line-height:110px; }

// FONT WEIGHT
.fw3 { font-weight: 300; }
.fw4 { font-weight: 400; }
.fw5 { font-weight: 500; }
.fw6 { font-weight: 600; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }