.radius-no {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.radius-sm {
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.radius-xl {
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
.radius-lg {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.radius-md {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}