.footer-style7{
	position: relative;
	overflow: hidden;
	
	&.footer-dark{
		background-color: var(--bs-dark);
		
		.footer-top,
		.footer-bottom{
			background-color: var(--bs-dark);
		}
		.footer-bottom{
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		.contact-info ul li i {
			color: #fff;
		}
		.footer-title {
			color: #FFFFFF;
		}
	}
	.contact-info ul li i {
		color: var(--bs-primary);
	}
	.footer-title {
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 35px;
		font-size: 24px;
	}
	.footer-author{
		margin-top: -40px;
	}
	.footer-bottom{
		padding: 15px 0;
		font-size: 16px;
		
		.social-link li a{
			font-size: 16px;
		}
	}
	.footer-top {
		padding: 110px 0 70px;
	}
	@media only screen and (max-width: 991px) {
		.footer-author{
			margin-top: 0;
		}
		.footer-top {
			padding: 60px 0 50px;
		}
	}
}