.git-right{
	position:relative;
	
	@media only screen and (min-width: 991px) {		
		&:after{
			content: "";
			height: 100%;
			width: 1px;
			position: absolute;
			background: #fff;
			top: 0;
			right: -40px;
			opacity: 0.05;
		}
	}
}
.getintouch {
    text-transform: uppercase;
    font-size: 130px;
    font-weight: 600;
    color: var(--bs-gray);
    line-height: 0.95;
	display: block;
    margin-bottom: 50px;
	
	&:hover{
		color: #FFF;
	}
	span{
		color: var(--bs-primary);
		display: inline-block;
		position: relative;
		
		&:after{
			content:"";
			position: absolute;
			width: 60px;
			height: 65px;
			border-radius: 50%;
			background-size: contain;
			display: block;
			background-color: var(--bs-primary);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image:url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 17.5H42.5V42.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.5 42.5L42.5 17.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
		}
	}
	@media only screen and (max-width: 1191px) {
		font-size: 100px;
		
		span::after{
			width: 50px;
			height: 50px;
		}
	}
	@media only screen and (max-width: 591px) {
		font-size: 70px;
		margin-bottom: 30px;
	}
}
.footer-style1{
	background-image: url(../images/banner/banner5.jpg);
    background-blend-mode: saturation;
	background-color: rgba(255, 255, 255, 0.8);
	
	.widget{
		margin-bottom: 50px;
	}
	.widget:last-child{
		margin-bottom: 50px;
	}
	.footer-title {
		margin-bottom: 25px;
		font-weight: 600;
	}
	.getintouch {
		color: var(--bs-gray);
		
		&:hover{
			color: #FFF;
		}
	}
	&.footer-dark{
		background-color: var(--bs-dark);	
	}
	@media only screen and (max-width: 591px) {
		.widget{
			margin-bottom: 35px;
		}
		.widget:last-child{
			margin-bottom: 35px;
		}
	}
}