// AWARD
.award-bx{
    padding: 30px;
    background: #fff;
    position: relative;
    border-radius: 20px;
	
	.award-media{
		position:relative;
		overflow:hidden;
		border-radius:10px;
	}
	.award-info{
		text-align:center;
		padding-top:20px;		
	}
	.award-info .title{
		font-weight: 600;
		margin-bottom: 5px;
	}
	.award-info p{
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 1.5;
	}
	&.left{
		display: flex;
		align-items: start;
		
		.award-media {
			min-width: 30%;
		}
		.award-info {
			text-align: left;
			margin-left: 20px;
			padding-top: 0;
		}
	}
	@media only screen and (max-width: 991px){
		padding: 15px 15px 20px 15px;
		
		&.left{
			flex-direction: column;
			
			.award-media {
				min-width: 100%;
			}
			.award-info {
				text-align: center;
				margin-left: 0;
				padding-top: 20px;
			}
		}
		.award-info .title{
			font-size: 18px;
			line-height:27px;
			margin-bottom:5px
		}
		.award-info p {
			font-size: 15px;
			line-height:24px;
		}
	}
}