button.back-to-top {
    border-style: solid;
    border-width: 0;
    bottom: 15px;
    box-shadow: 2px 2px 12px -5px #000000;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 45px;
    margin: 0;
    position: fixed;
    right: 15px;
    text-align: center;
    width: 45px;
    z-index: 99999;
    padding: 0;
    font-size: 12px;
	background-color: var(--bs-primary);
	border-radius: var(--bs-border-radius);
	
	@include media-breakpoint-down(md){
		height: 35px;
		width: 35px;
		bottom: 8px;
		right: 8px;
	}
}