.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-outline-primary{
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-bg: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-outline-secondary{
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: var(--bs-secondary);
    --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-dark {
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: var(--bs-dark);
    --bs-btn-active-border-color: var(--bs-dark);
    --bs-btn-disabled-bg: var(--bs-dark);
    --bs-btn-disabled-border-color: var(--bs-dark);
}
.btn-outline-dark{
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
    --bs-btn-active-bg: var(--bs-dark);
    --bs-btn-active-border-color: var(--bs-dark);
    --bs-btn-disabled-color: var(--bs-dark);
    --bs-btn-disabled-border-color: var(--bs-dark);
}
.btn-light {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-light);
    --bs-btn-disabled-bg: var(--bs-light);
    --bs-btn-disabled-border-color: var(--bs-light);
}
.btn-outline-light{
    --bs-btn-color: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-light);
    --bs-btn-disabled-color: var(--bs-light);
    --bs-btn-disabled-border-color: var(--bs-light);
}

.btn{
	i{
		font-size: 18px;
	}
	@include media-breakpoint-down(md){
		font-size: 14px;
		--bs-btn-padding-x: 20px;
		--bs-btn-padding-y: 10px;
	}
}
button.btn-link{
	border: 0;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    color: inherit;
}
.btn-sm{
    --bs-btn-line-height: 1.448;
	
	@include media-breakpoint-down(sm){
		font-size: 13px;
	}
}
.btn-lg{
    --bs-btn-line-height: 1.467;
	
	@include media-breakpoint-down(sm){
		font-size: 16px;
	}
}
.btn[class*="btn-subtle-"]{
	&:hover, &:active, &:focus{
		color: #fff;
	}
}
.btn-light{
	--bs-btn-hover-color: var(--bs-btn-color);	
}
.btn-outline-light {
    --bs-btn-color: var(--bs-body-color);
}
.btn-shadow{
	box-shadow: var(--custom-shadow);
}
@each $color, $value in $theme-colors {
	.btn.btn-subtle-#{$color}{
		background-color: var(--bs-#{$color}-bg-subtle);
		border-color: var(--bs-#{$color}-bg-subtle);
		color: var(--bs-#{$color});
		
		&:hover, &:active, &:focus{
			border-color: var(--bs-#{$color});
			background-color: var(--bs-#{$color});
		}
	}
	.btn-#{$color}{
		&.btn-gradient{
			background: linear-gradient(135deg,  var(--bs-#{$color}) 0%, #8d26fb 100%);
		}
	}
}

.touch-count{
	position: relative;
	width: 120px;

	.touch-input{
	    display: block;
		width: 100%;
		padding: 8px 35px;
		font-size: 0.9375rem;
		font-weight: 400;
		line-height: 1.334;
		color: var(--bs-body-color);
		appearance: none;
		background-color: var(--bs-body-bg);
		background-clip: padding-box;
		border: var(--bs-border-width) solid var(--bs-border-color);
		border-radius: var(--bs-border-radius);
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		text-align: center;
	}
	.minus,
	.plus{
		position: absolute;
		z-index: 1;
		text-align: center;
		width: 28px;
		height: 28px;
		display: inline-flex;
		color: var(--bs-primary);
		background-color: var(--bs-primary-bg-subtle);
		justify-content: center;
		border-radius: 6px;
		border: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		transition: all 0.5s;
		
		&:hover{
			color: #fff;
			background-color: var(--bs-primary);
		}
	}
	.minus{
		left: 5px;
	}
	.plus{
		right: 5px;
	}
}
.btn-slide-up-text{
	position: relative;
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	transition: all .3s ease-in-out;
	justify-content: center;
	
	.data-text{
		transition: opacity .60s, transform .80s;
		transition-timing-function: cubic-bezier(.15, .85, .30, 1);
		
		&::before {
			content: attr(data-text);
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			white-space: nowrap;
			opacity: 0;
			transform: translate(-50%, 100%);
			transition: opacity .5s, transform .8s;
			transition-timing-function: cubic-bezier(.15, .85, .30, 1);
		}
	}
	&:active .data-text,
	&:hover .data-text{
		transform: translateY(-200%);
	}
	&:active .data-text:before,
	&:hover .data-text:before {
		opacity: 1;
		transform: translate(-50%, 150%);
	}
	&:hover{
	    transform: translate3d(0, -2px, 0);
	}
}
.btn-style1{
	--bs-btn-padding-x: 40px;
	--bs-btn-padding-y: 14px;
	--bs-btn-font-size: 15px;
	--bs-btn-border-radius: 0;
	
	@media only screen and (max-width: 991px){
		--bs-btn-padding-x: 30px;
		--bs-btn-padding-y: 13px;
		--bs-btn-font-size: 14px;
	}
	@media only screen and (max-width: 591px){
		--bs-btn-padding-x: 25px;
	}
}
.btn-style2{
	--bs-btn-padding-x: 35px;
	--bs-btn-padding-y: 12px;
	--bs-btn-font-size: 18px;
	--bs-btn-border-radius: 10px;
	
	&.btn-sm{
		--bs-btn-padding-x: 20px;
		--bs-btn-padding-y: 10px;
		--bs-btn-font-size: 15px;
		--bs-btn-border-radius: 6px;
	}
	&.btn-lg{
		--bs-btn-padding-x: 40px;
		--bs-btn-font-size: 20px;
		--bs-btn-padding-y: 14px;
	}
	@media (max-width: 1191px) {
		--bs-btn-padding-x: 24px;
		--bs-btn-padding-y: 10px;
		--bs-btn-border-radius: 8px;
		
		&.btn-sm{
			--bs-btn-padding-x: 16px;
			--bs-btn-padding-y: 8px;
		}
		&.btn-lg{
			--bs-btn-padding-x: 30px;
			--bs-btn-padding-y: 12px;
		}
	}
}