// MISSION VISION
.misson-tabs li{
	flex: 0 0 25%;
    max-width: 25%;	
    padding: 10px;
	
	.nav-link{
		background: transparent;
		color: #fff;
		font-size: 20px;
		line-height: 1;
		font-weight: 400;
		text-align: center;
		padding: 20px 20px 20px 20px;
		border-radius: 50px;
		width: 100%;
		
		&.active{
			background: #fff;
			color: var(--bs-dark);
		}
	}
	@include media-breakpoint-down(lg){
		.nav-link{
			font-size: 18px;
			padding: 15px 15px 15px 15px;
		}
	}
	@include media-breakpoint-down(md){
		flex: 0 0 50%;
		max-width: 50%;
		padding-top: 5px;
		
		.nav-link{
			font-size: 16px;
		}
	}
}
.mission-tab-bx{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	
	.feature-box-md a{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	.icon-cell svg{
		fill:#fff;
		width: 60px;
		height: 60px;
	}
	p{
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		margin-bottom: 0;
		
		&.br-left{
			border-left: 5px solid var(--bs-primary);
			padding-left: 40px;
		}
	}
	.sub-title{
		color: var(--bs-primary);
		font-weight: 500;
	}
	.title{
		color: var(--bs-dark);
		margin-bottom: 5px;
	}
}