.footer-style2{
	position: relative;
	overflow: hidden;
	background-image: url(../images/noise-overlay.png);
	font-weight: 400;
	
	&::before,
	&::after{
		content: "";
		height: 300px;
		width: 300px;
		position: absolute;
		border-radius: 50%;
		filter: blur(125px);
		opacity: 0.5;
		z-index: -1;
	}
	&::before{
		background-color: var(--bs-secondary);
		right: -150px;
		top: 15%;
	}
	&::after{
		background-color: var(--bs-primary);
		left: -120px;
		bottom: -120px;
	}
	.footer-title {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.footer_widget ul{
		margin-bottom: 0;
	}
	.contact-info ul li i {
		color: var(--bs-secondary);
	}
	.footer-top {
		padding: 85px 0 80px;
	}
	@media only screen and (max-width: 991px){
		.border-start,
		.border-end{
			--bs-border-width: 0;
		}
		.footer-top{
			padding: 50px 0 30px;
			
			.widget{
				margin-bottom: 35px;
			}
		}
	}
	@media only screen and (max-width: 767px){
		.footer-top{
			padding: 50px 0 15px;
		}
	}
	
}
.footer-action{
	background-color: var(--bs-secondary);
    border-radius: 20px;
    padding: 50px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 85px;
	
	.action-title{
		color: #fff;
		font-family: var(--bs-body-font-family);
		margin-bottom: 0;
		font-size: 40px;
	}
	@media only screen and (max-width: 1380px){
		margin-left: 0;
		margin-right: 0;
		
		.action-title{
			font-size: 32px;
		}
	}
	@media only screen and (max-width: 991px){
		margin-top: 50px;
	}
	@media only screen and (max-width: 767px){
		padding: 30px;
	}
	@media only screen and (max-width: 591px){
	    padding: 25px;
		
		.action-title{
			font-size: 24px;
			margin-bottom: 0px;
		}	
    }
}