.footer-style3{
	position: relative;
	overflow: hidden;
	
	.widget{
		margin-bottom: 50px;
	}
	.widget:last-child{
		margin-bottom: 50px;
	}
	@media only screen and (max-width: 591px) {
		.widget{
			margin-bottom: 35px;
		}
		.widget:last-child{
			margin-bottom: 35px;
		}
	}
	&.footer-dark{
		background-color: var(--bs-primary);
		
		.footer-top,
		.footer-bottom{
			background-color: var(--bs-primary);
		}
		.footer-bottom{
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		}
		.contact-info ul li i {
			color: #fff;
		}
		.footer-title {
			color: #FFFFFF;
		}
	}
	.footer-title {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 28px;
	}
	.footer-bottom{
		padding: 30px 0;
		font-size: 14px;
		
		.social-link li a{
			font-size: 14px;
		}
	}
	.footer-top {
		padding: 100px 0 50px;
	}
	.footer-text{
		text-transform: uppercase;
		color: #fff;
		font-size: 380px;
		font-weight: 700;
		line-height: 280px;
		margin-bottom: -15px;
		white-space: nowrap;
	}
	@media only screen and (max-width: 1680px) {
		.footer-text{
			font-size: 300px;
			line-height: 220px;
		}
	}
	@media only screen and (max-width: 1480px) {
		.footer-text{
			font-size: 250px;
			line-height: 185px;
		}
	}
	@media only screen and (max-width: 1191px) {
		.footer-text{
			font-size: 200px;
			line-height: 145px;
		}
		.footer-top {
			padding: 70px 0 30px;
		}
	}
	@media only screen and (max-width: 767px) {
		.footer-text{
			font-size: 150px;
			line-height: 105px;
		}
		.footer-title{
			margin-bottom: 20px;
		}
	}
	@media only screen and (max-width: 591px) {
		.footer-text{
			font-size: 60px;
			line-height: 45px;
			margin-bottom: -5px;
		}
		.footer-top {
			padding: 50px 0 10px;
		}
	}
}
