.hero-slider7{
	background-color: #222222;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: block;
    width: 100%;
	height: 950px;
	
	&::after{
		content: "";
		background-color: #222222;
		opacity: 0.3;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.hero-img{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}
	.title{
		font-size: 140px;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 0;
	}
	.hero-content{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		padding: 80px;
	}
	@media (max-width: 1680px){
		height: 850px;
		
		.title{
			font-size: 120px;
		}
		.hero-content{
			padding: 60px;
		}
	}
	@media (max-width: 1480px){
		height: 750px;
		
		.title{
			font-size: 100px;
		}
	}
	@media (max-width: 1191px){
		height: 650px;
		
		.title{
			font-size: 72px;
		}
		.hero-content{
			padding: 50px;
		}
	}
	@media (max-width: 991px){
		height: 450px;
		
		.title{
			font-size: 52px;
		}
		.hero-content{
			padding: 30px;
		}
	}
	@media (max-width: 591px){
		height: 380px;
		
		.title{
			font-size: 42px;
		}
		.hero-content{
			padding: 20px;
		}
	}
}
.salon-bg-parallax{
	height: 100vh;
	min-height: 200px;
	
	@media (max-width: 1191px){
		height: 80vh;
	}
	@media (max-width: 991px){
		height: 60vh;
	}
	@media (max-width: 591px){
		height: 40vh;
	}
}
.section-salon-sp1{
	padding-top: 150px;
	
	@media (max-width: 1680px){
		padding-top: 120px;
	}
	@media (max-width: 1480px){
		padding-top: 100px;
	}
	@media (max-width: 1191px){
		padding-top: 80px;
	}
	@media (max-width: 991px){
		padding-top: 60px;
	}
	@media (max-width: 591px){
		padding-top: 50px;
	}
}
.section-salon-sp2{
	padding-top: 150px;
	padding-bottom: 120px;
	
	@media (max-width: 1680px){
		padding-top: 120px;
		padding-bottom: 90px;
	}
	@media (max-width: 1480px){
		padding-top: 100px;
		padding-bottom: 70px;
	}
	@media (max-width: 1191px){
		padding-top: 80px;
		padding-bottom: 50px;
	}
	@media (max-width: 991px){
		padding-top: 60px;
		padding-bottom: 30px;
	}
	@media (max-width: 591px){
		padding-top: 50px;
		padding-bottom: 20px;
	}
}
.about-section-one{
	.about-media-1{
		margin-top: -350px;
	}
	.about-media-3{
		margin-top: -540px;
	}
	@media (max-width: 1191px){
		.about-media-1{
			margin-top: 0;
		}
		.about-media-3{
			margin-top: 0;
		}	
	}
}
.btn-salon{
	font-size: 14px;
	font-family: "Bricolage Grotesque", sans-serif;
	font-weight: 600;
	
	&.btn-primary{
		color: #00272C;	
	}
	&:hover{
		&.btn-primary{
			color: #00272C;	
		}
	}
}
.salon-num-count{
	.num{
		font-size: 100px;
		line-height: 1;
		margin-bottom: 10px;
	}
	.text{
		text-transform: uppercase;
		font-size: 18px;
	}
	@media (max-width: 991px){
		.num{
			font-size: 60px;
		}
		.text{
			font-size: 16px;
		}
	}
	@media (max-width: 591px){
		.num{
			font-size: 48px;
		}
		.text{
			font-size: 14px;
		}
	}
}