// COMING SOON
.comign-soon{
	height: 100vh;
    width: 100%;
    display: table;
    text-align: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center bottom -10px;
    background-size: cover;
	
	.comign-soon-area{
		display: table-cell;
		vertical-align: middle;
		
		.comign-logo{
			width: 200px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
		}
		.countdown {
			margin-bottom: 40px;
		}
		.date{
			width: 140px;
			display: inline-block;
			margin: 0 10px;
			
			span:last-child{
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 400;
				color: #fff;
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				width: 100%;
				display: block;
				line-height: 28px;
				padding: 2px 0;
				margin-top: 5px;
			}
		}
		.time{
			font-size: 60px;
			font-weight: 400;
			display: block;
			color: #fff;
			line-height: 1.2;
			font-family: "Gotu", serif;
		}
		.title{
			font-size: 65px;
			letter-spacing: 1px;
			font-weight: 500;
			line-height: 1;
			margin-bottom: 30px;
			color: #fff;
		}
		@include media-breakpoint-down(md){
			.comign-logo {
				margin-bottom: 30px;
				width: 180px;
			}
			.title{
				font-weight: 600;
				font-size: 45px;
				margin-bottom: 30px;
			}
			.date{
				width: 75px;
				margin: 0 2px;
				
				span:last-child{
					font-size: 13px;
					font-weight: 600;
					line-height: 28px;
					padding: 0px 0;
				}
			}
			.time{
				font-size: 55px;
				line-height: 65px;	
			}
			.countdown{
				margin-bottom: 30px;
			}
		}
		@include media-breakpoint-down(sm){
			.comign-logo {
				margin-bottom: 20px;
				width: 150px;
			}
			.title{
				font-size: 32px;
			}
			.time{
				font-size: 48px;
				line-height: 48px;
			}
			.date{
				span:last-child{
					font-size: 12px;
					line-height: 24px;
				}
			}
		}
	}
	.subscription-form{
		max-width: 500px;
		display: block;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		
		.form-control{
			height: 55px;
			padding: 10px 20px 10px 30px;
			font-size: 18px;
			font-weight: 400;
		}
		.btn{
			height: 47px;
			z-index: 99;
		}
		@include media-breakpoint-down(md){
			max-width: 330px;
			margin-bottom: 30px;	
			
			.form-control{
				height: 45px;
				padding: 10px 10px 10px 20px;
				font-size: 13px;
				font-weight: 400;
			}
			.btn{
				height: 38px;
				padding: 0 20px;
			}
		}
	}
	.contact-social-bx li a{
		width: 45px;
		height: 45px;
		font-size: 18px;
		line-height: 45px;
		color: var(--bs-dark);
		margin: 0 3px;
		background: #fff;
		padding: 0;
		border: 0;
		
		i{
			margin: 0;
		}
		
		&:hover,
		&:active,
		&:focus{
			background-color: #fff;
		}
		
		@include media-breakpoint-down(md){
			width: 45px;
			height: 45px;
			font-size: 18px;
			line-height: 45px;
		}
	}
}