// SERVICE CSS
.service-info-bx{
	margin-top: -215px;
}
.service-bx{
	box-shadow:0 0 25px 0 rgba(29,25,0,0.25);
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	position:relative;
	background-color:#fff;

	[class*="feature-"]{
		box-shadow: 0 0 25px 0 rgba(29,25,0,0.15);
		margin-top: -30px;
		position: relative;
		top: -40px;
		margin-bottom: -20px;
	}
	.info-bx{
		padding:30px;
	}
	&:hover{
		transform:translateY(-15px);
		-moz-transform:translateY(-15px);
		-webkit-transform:translateY(-15px);
		-ms-transform:translateY(-15px);
		-o-transform:translateY(-15px);
	}
}
.service-icon-bx{
	display: flex;
    align-items: center;
    max-width: 700px;
    margin: auto;
    padding: 50px 0;
    border-bottom: 2px dashed rgba(0,0,0,0.2);
	position:relative;
	z-index: 1;
	
	.service-icon a{
		font-size: 150px;
		background: #e1e3ff;
		border-radius: 100%;
		height: 300px;
		width: 300px;
		display: inline-block;
		text-align: center;
		line-height: 300px;
		overflow:hidden;
		
		img{
			height: 100%;
			vertical-align: top;
			object-fit: cover;
		}
	}
	.service-info{
		padding: 0 0 0 50px;
		max-width: 400px;
		margin-left: auto;
	}
	&:nth-child(2n){
		flex-direction: row-reverse;
	}
	&:nth-child(2n) .service-info{
		padding: 0 50px 0 0;
	}
	&::after{
		content: "";
		width: 110px;
		height: calc(100% + 4px);
		position: absolute;
		bottom: -2px;
		border-radius: 120px 0 0px 120px;
		border: 2px dashed rgba(0,0,0,0.2);
		left: -110px;
		border-width: 2px 0 2px 2px;
		z-index: -1;
	}
	&:first-child:after{
		height: 220px;
		left: -110px;
		border-radius: 110px 0 0 110px;
		border-width: 2px 0px 2px 2px;
		right: auto;
	}
	&:nth-child(2n):after{
		height: calc(100% + 4px);
		left: auto;
		border-radius: 0 110px 110px 0;
		border-width: 2px 2px 2px 0px;
		right: -110px;
	}
	&:last-child:after{
		left: auto;
		right: -110px;
		bottom: auto;
		top: -2px;
		border-radius: 0 120px 120px 0;
		border-width: 2px 2px 2px 0px;
		height: 220px;	
	}
	&:nth-child(2n) + .service-icon-bx:last-child:after{
		right: auto;
		left: -110px;
		bottom: auto;
		top: -2px;
		border-radius: 120px 0 0 120px;
		border-width: 2px 0px 2px 2px;
	}
	.service-icon{
		position: relative;
	}
	.service-icon:after{
		content: attr(data-name);
		font-size: 18px;
		font-weight: 700;
		position: absolute;
		line-height: 50px;
		top: 50%;
		right: -30px;
		width: 60px;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		height: 60px;
		background: var(--bs-primary);
		border-radius: 100%;
		text-align: center;
		color: #fff;
		border: 5px solid #fff;
	}
	&:nth-child(2n) .service-icon:after{
		right: auto;
		left:-30px;
	}
	&:first-child{
		padding-top: 40px;
	}
	&:last-child{
		border: 0;
		padding-bottom: 10px;
	}
}
.service-img-bx{
	display:flex;
	align-items:center;
	margin-bottom:60px;
	
	&:nth-child(2n){
		flex-direction: row-reverse;
		text-align: right;
	}
	.service-info{
		flex:0 0 35%;
		max-width:35%;	
		padding:0 0 0 50px;
		
		.title{
			border-left: 5px solid var(--bs-primary);
			padding-left: 30px;
			margin-bottom: 30px;
			
			h3{
				margin-bottom:10px;
			}
			p{
				margin-bottom:0;
			}
		}
	}
	&:nth-child(2n) .title{
		border-right: 5px solid var(--bs-primary);
		padding-left: 0;
		margin-bottom: 30px;
		padding-right: 30px;
		border-left: 0;
	}
	.service-media{
		flex: 0 0 65%;
		max-width: 65%;	
		
		img{
			width: 100%;
		}
	}
	.video-media-bx{
		border-radius: 15px;
	}
	&:nth-child(2n) .service-info{
		padding:0 50px 0 0;
	}
}
.service-list{
    margin: 0;
    padding: 30px;
    list-style: none;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
	
	li{
		margin-bottom: 5px;
		
		a{
			background: var(--bs-light);
			display: block;
			padding: 15px 45px 15px 20px;
			text-transform: capitalize;
			font-weight: 600;
			position: relative;
			z-index: 1;
			transition: all 0.5s;
			color: var(--bs-dark);
			font-weight: 400;
			font-size: 18px;
			border-radius: 10px;
			overflow: hidden;
			
			i{
				width: 26px;
				height: 26px;
				background: #fff;
				color: var(--bs-dark);
				font-size: 18px;
				line-height: 26px;
				text-align: center;
				border-radius: 35px;
				position: absolute;
				right: 20px;
				padding-left: 2px;
				top: 50%;
				margin-top: -13px;
			}
			&::after{
				content: "";
				height: 100%;
				background-color: var(--bs-primary);
				width: 0;
				position: absolute;
				right: 0;
				transition: all 0.5s;
				-moz-transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-ms-transition: all 0.5s;
				-o-transition: all 0.5s;
				z-index: -1;
				top: 0;
				transform-origin: right;
				-moz-transform-origin: right;
				-webkit-transform-origin: right;
				-ms-transform-origin: right;
				-o-transform-origin: right;
			}
		}
		&:last-child a{
			border-bottom:0;
		}
		&.active a{
			background-color: var(--bs-primary);
			color: #fff;
		}
		&:hover a{
			color: #fff;
			
			&::after{
				transform-origin: left;
				-moz-transform-origin: left;
				-webkit-transform-origin: left;
				-ms-transform-origin: left;
				-o-transform-origin: left;
				width: 100%;
				right: auto;
				left: 0;
			}
		}
	}
	
	// STYLE 2
	&.style-2 li{
		a{
			border: 0;
			background: transparent;
			font-size: 16px;
			font-weight: 400;
			padding: 7px 0 7px 35px;
			
			i{
				width: auto;
				height: auto;
				background: transparent;
				font-size: 24px;
				top: 50%;
				padding: 0;
				left: 0;
				right: auto;
			}
			&::after{
				content: "\f30b";
				font-family: 'Line Awesome Free';
				width: auto;
				height: auto;
				background: transparent;
				color: var(--bs-primary);
				font-weight: 900;
				font-size: 24px;
				right: 10px;
				opacity: 0;
			}
		}
		&.active a i,
		&.active a,
		&:hover a i,
		&:hover a{
			color: var(--bs-primary);
		}
		&.active a::after,
		&:hover a::after{
			right: 0;
			opacity: 1;
			left: auto;
		}
	}
}

// SERVICE BOX
.service-gallery-top .service-info .service-content,
.service-thumb:after,
.service-thumb,
.service-box .service-inner:after,
.service-box{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.service-box{
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.15);
	border-bottom: 3px solid #086ad8;
	
	&:hover{
		transform:translateY(-10px);
		-moz-transform:translateY(-10px);
		-ms-transform:translateY(-10px);
		-webkit-transform:translateY(-10px);
		-ms-transform:translateY(-10px);
	}
	.service-media{
		position: relative;
	}
	.service-info{
		padding: 30px;
		
		.title{
			font-size: 24px;
			line-height: 28px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 0;
			line-height: 24px;
		}
	}
	.service-inner{
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		justify-content: center;
		display: flex;
		align-items: center;
		z-index: 1;
		
		&::after{
			background: var(--bs-primary);
			position: absolute;
			bottom: 0;
			height: 30%;
			width: 100%;
			content:"";
			opacity:0.9;
			z-index: -1;
			opacity:0;
		}
	}
	
	.service-inner .btn{
		transform: scaleY(0);
		-moz-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		-moz-transform-origin: bottom;
		-webkit-transform-origin: bottom;
		-ms-transform-origin: bottom;
		-o-transform-origin: bottom;
		transform-origin: bottom;
		transition:all 0.4s ease 0.2s;
		-moz-transition:all 0.4s ease 0.2s;
		-ms-transition:all 0.4s ease 0.2s;
		-webkit-transition:all 0.4s ease 0.2s;
		-ms-transition:all 0.4s ease 0.2s;
		opacity:0;
	}
	&:hover{
		.service-inner:after{
			height:100%;
			opacity:0.9;
		}
		.service-inner .btn{
			transform: scaleY(1);
			-moz-transform: scaleY(1);
			-ms-transform: scaleY(1);
			-o-transform: scaleY(1);
			-webkit-transform: scaleY(1);
			opacity:1;
		}
	}
}
.service-gallery-top{
	.service-info{
		height: 650px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-end;
		
		.container{
			position:relative;
			z-index:1;
		}
		.service-content{
			background: #fff;
			padding: 30px 40px;
			width: 450px;
			margin-bottom: 40px;
			position: relative;
			z-index: 1;
			opacity:0;
			
			.ld-tilte{
				margin-bottom:10px;
			}
			p{
				font-size:18px;
				color:#585858;
			}
			.bg-icon{
				color: #000;
				line-height: 200px;
				right:20px;
			}
		}
		&::after{
			position:absolute;
			content:"";
			height:100%;
			width:100%;
			top:0;
			left:0;
			background:#000;
			opacity:0.3;
		}
	}
	.swiper-slide-active .service-info .service-content{
		opacity: 1;
	}
}
.swiper-service{
	position:relative;
}
.swiper-thumbs-box{
	z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: rgba(0,0,0,0.2);
}
.service-thumb{
	padding:25px 5px;
	position: relative;
    z-index: 1;
	
	&::after{
		content: "";
		width: 15px;
		height: 15px;
		background: #000;
		position: absolute;
		transform: rotate(45deg) translateX(-50%);
		bottom: -10px;
		left: 50%;
		opacity:0;
	}
	.title{
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		
		i{
			font-size: 30px;
			line-height: 30px;
			margin-right: 10px;
		}
	}
}
.swiper-slide-thumb-active .service-thumb{
	background: var(--bs-primary);
}

@media only screen and (max-width: 1200px) {
	.service-thumb{
		.title{
			font-size: 16px;
			
			i{
				font-size: 24px;
				line-height: 24px;
				margin-right: 5px;
			}
		}
	}
	.service-box .service-info {
		padding: 30px 15px;
	}
}
@media only screen and (max-width: 991px){
	.service-info-bx {
		margin-top: 0px;
		padding-top: 80px;
	}
	.service-icon-bx::after{
		content:none;
	}
	.service-img-bx{
		display: block;
		
		.service-media {
			max-width: 100%;
		}
		.service-info {
			max-width: 100%;
			padding: 30px 0 0;
		}
		&:nth-child(2n) .service-info {
			padding: 30px 0 0;
		}
	}
}
@media only screen and (max-width: 767px) {
	.service-icon-bx{
		display: block;
		max-width: 100%;
		padding: 50px 0;
		text-align:center;
		
		.service-icon a {
			font-size: 70px;
			height: 200px;
			width: 200px;
			line-height: 200px;
		}
		&:first-child {
			padding-top: 10px;
		}
		.service-icon{
			margin-bottom: 30px;
			width: 230px;
			margin-left: auto;
			margin-right: auto;
		}
		.service-info {
			padding: 0 0 0 0;
			max-width: 100%;
		}
		.service-icon:after {
			right: -20px;
		}
		&:nth-child(2n) .service-icon:after {
			right: -20px;
			left: auto;
		}
		&:nth-child(2n) .service-info {
			margin-right: auto;
			margin-left: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.service-img-bx{
		margin-bottom: 50px;
		
		.service-info .title {
			padding-left: 15px;
			margin-bottom: 20px;
		}
		&:nth-child(2n) .title{
			margin-bottom: 20px;
			padding-right: 15px;
		}
	}
}
@media only screen and (max-width: 576px) {
	.service-gallery-top{
		.service-info .service-content{
			padding: 20px 20px;
			width:100%;
		}
		.service-info .service-content p{
			font-size:14px;
			line-height:22px;
		}
	}
	.service-box .service-info p{
		font-size:16px;
		line-height:24px;
	}
}

// SERVICE-BX STYLE1
.service-bx.style1{
	display: flex;
	box-shadow: unset;
	align-items: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 10px;
	
	.service-media{
		width: 120px;
		border-radius: 10px;
		overflow: hidden;
	}
	.service-info{
		padding: 10px 20px;
		
		p{
			margin-bottom: 10px;
		}
		.btn-link{
			font-size: 14px;
		}
		.title{
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 5px;
		}
	}
}