$btn-close-color-light: #fff;
$btn-close-bg-light:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color-light}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");

.alert i{
	vertical-align: -3px;
	font-size: 16px;
}
[class*="text-bg-"]:not(.text-bg-light){
	.btn-close {
		--bs-btn-close-bg-light: #{escape-svg($btn-close-bg-light)};
		background: transparent var(--bs-btn-close-bg-light) center / $btn-close-width auto no-repeat;
	}
}