// FILTER BUTTONS CSS
.feature-filters{
    margin-bottom: 40px;
	
	&.m-b50 {
		margin-bottom: 50px;
	}
	ul{
		margin: 0;
		list-style: none;
		padding: 0;	
	}
	li {
		display: inline-block;
		padding: 0;
		margin-bottom:3px;
		
		&.btn{
			box-shadow: none;
			-webkit-box-shadow: none;
			outline: none !important;
			background: transparent;
			padding:0;
		}
		input {
			display: none;
		}
	}
	a {
		margin: 0;
		padding: 8px 20px;
		display: inline-block;
		border-radius: 4px;
		vertical-align: middle;
		border: 1px solid #D0D0D0;
		color: #000;
		font-weight: 600;
	}
	.active a {
		border: 1px solid var(--bs-primary);
		background-color:var(--bs-primary);
		color:#fff;
	}
	.active > [class*="btn"] {
		color: #fff;
		background-color: #EFBB20;
	}
	&.center {
		text-align: center;
		
		ul {
			display: inline-block;
			margin: auto;
			padding: 0;
		}
		[class*="btn"] {
			display: inline-block;
			margin: 0 5px 10px;
			text-transform: uppercase;
		}
		@include media-breakpoint-down(sm){
			[class*="btn"] {
				margin: 0 1px 5px;
				font-size: 12px;
			}
		}
	}
}
.mas-1 .action-card{
	margin-left:-1px;
}

// SITE FILTERS STYLE
.feature-filters.style1{
	.btn{
		background-color:transparent;
		padding:0;
	}
	li a {
		color: var(--dark);
		font-weight: 400;
		margin: 0;
		padding: 0 15px;
		position: relative;
		border:0;
		font-size: 18px;	
	}
	&.text-white li,
	&.text-white li a {
		color:#fff;
	}
	&.text-white li a:after{
		background:#fff;
	}
	li[class*="btn"]{
		margin: 0;
		border: 0;
		outline: 0;
	}
	li:last-child a:after{
		position: relative;
	}
	li a:after {
		background-color: #000316;
		content: "";
		height: 15px;
		opacity: 1;
		position: absolute;
		right: -3px;
		top: 5px;
		transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-webkit-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		width: 1px;
	}
	li.active a,
	&.white li.active a{
		color: var(--bs-primary);
		background-color: transparent;
		font-weight:400;
	}
	li a span,
	&.white li a span{
		position:relative;
		display:inline-block;
		
		&::after{
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			width: 0;
			height: 3px;
			background: var(--bs-primary);
			transition: all 0.5s;
		}
	}
	li.active a span:after,
	li:hover a span:after,
	&.white li.active a span:after,
	&.white li:hover a span:after{
		transform-origin: left;
		width: 100%;
		left: 0;
		right: auto;
	}
	&.white li a:after {
		background-color: #fff;
	}
	&.white li a{
		color:#bfbfbf;
	}
	.btn.outline{
		border-color: #1ABC9C;
	}
	&.filters-sm li a{
		padding: 5px 20px;
		font-size: 13px;
		font-weight: 500;
	}
	&.gray li a{
		background-color: #e0e3f6;
		color:#000;
	}
	.button-sm{
		font-size: 13px;
		padding: 5px 20px;
	}
}

// SITE FILTERS STYLE
.feature-filters.style2{
	ul{
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
	}	
	li[class*="btn"]{
		margin: 0;
		border: 0;
		outline: 0;
	}
	.btn{
		background-color:transparent;
		padding:0;
	}
	a{
	    margin: 0;
		padding: 0;
		display: inline-block;
		border-radius: 0;
		vertical-align: middle;
		border: 0;
		color: var(--bs-primary);
		font-weight: 600;
		font-size: 24px;
		opacity: 0.4;
	}
	li.active a,
	&.white li.active a{
		background-color: transparent;
		opacity: 1;
	}
	@media (max-width: 991px){
		ul{
			gap: 25px;
		}
		a{
			font-size: 20px;
		}
	}
	@media (max-width: 591px){
		ul{
			gap: 20px;
		}
		a{
			font-size: 16px;
		}
	}
}

/* Shop Filter Mobile */
.filter-mobile{
	display: none;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 80px;
    background: #fff;
    box-shadow: var(--bs-box-shadow);
    border-radius: var(--bs-border-radius);
	
	.filter-bx:last-child{
		width:140px;
	}
	.filter-bx{
		width: 100%;
	}
}
.filter-btn{
	&:hover{
		background-color:#000;
		color:#fff;
	}
	i{
		margin-right:5px;
	}
	&.close {
		display:none;
		opacity:0;
	}
}
@media only screen and (max-width: 991px){
	.filter-on .filter-btn.close {
		border: 0;
		z-index: 1;
		position: fixed;
		right: 10px;
		top: 10px;
		color: #fff;
		opacity: 1;
		font-size: 18px;
		display:block;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-moz-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-o-transition:all 0.5s;
		opacity:1;
	}	
	.filter-btn.close:hover{
		background:rgba(255,255,255,0.1);
	}
	.filter-mobile{
		display:flex;
		margin-bottom:30px;
		justify-content: space-between;
		
		.filter-bx{
			width: 50%;
			padding: 10px;
		}
	}
	.filter-left{
		padding: 20px 20px;
		width: 280px;
		position: fixed !important;
		left: -310px;
		top: 0;
		background: #fff;
		z-index: 9999999;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
		overflow-y: scroll;
		height: 100%;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-moz-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-o-transition:all 0.5s;
	}
	.filter-left.filter-on{
		left: 0;
	}
	.filter-bar{
		top: 100px;
		position: sticky;
		z-index: 999;
	}
	.filter-bar.sticky-top .side-bar{
		z-index:9;
		top:0;
		position:unset;
	}
	.sticky-top.filter-bar{
		z-index:99999999;
		top: 80px;
		position: sticky;
	}
	.filter-left:after{
		content: "";
		position: fixed;
		width: 0;
		background: #000;
		height: 100%;
		z-index: -1;
		left: 0;
		top: 0;
		opacity: 0;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-moz-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-o-transition:all 0.5s;
	}
	.filter-left.filter-on:after{
		width: 1000px;
		left: 280px;
		opacity: 0.8;
	}
}
@media only screen and (max-width: 767px) {
	.filter-bar {
		top: 60px;
	}
}