.form-label {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--bs-dark);
}
.form-group{
	margin-bottom: 25px;
}
.nice-select{
	height: auto;
	
	.option.selected{
		font-weight: 400;
	}
	.option:hover,
	.option.focus,
	.option.selected.focus{
		background-color: var(--bs-light);
		color: var(--bs-primary);
	}
	.list{
	    width: 100%;
		border-radius: var(--bs-border-radius);
		box-shadow: var(--bs-box-shadow-sm);
		border: 1px solid var(--bs-border-color);
		margin-top: 1px;
		padding: 4px;
	}
	&:after{
		border-bottom: 1px solid var(--bs-primary);
		border-right: 1px solid var(--bs-primary);
		right: 20px;
		height: 7px;
		width: 7px;
	}
	.option{
		border-radius: var(--bs-border-radius);
	}
}

/* Google Recaptcha */
.g-recaptcha,
#rc-imageselect {
    transform:scale(0.99);
    -webkit-transform:scale(0.99);
    -moz-transform:scale(0.99);
    -o-transform:scale(0.99);
    
    transform-origin:0 0;
    -o-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
@media screen and (max-width: 575px){
	#rc-imageselect, 
	.g-recaptcha {
        transform:scale(0.77);
        -moz-transform:scale(0.77);
        -o-transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -moz-transform-origin:0 0;
        -o-transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
.recaptcha-box{
	height:60px;
}
.g-recaptcha > div{
	width:250px !important; 
}
.form-control-underline{
	background-color: transparent !important;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    color: #fff;
	font-size: 14px;
    font-weight: 600;
	
	&:not(textarea){
		height: 48px;
	}
	&:hover{
		color: #fff;
	}
	&::-webkit-input-placeholder {
		color: #7F9294;
	}
	&::-moz-placeholder {
		color: #7F9294;
	}
	&:-ms-input-placeholder {
		color: #7F9294;
	}
	&:-moz-placeholder {
		color: #7F9294;
	}
}
.nice-select .option {
    font-size: 15px;
	color: var(--bs-body-color);
}