.our-partner{
	position:relative;
	z-index: 3;
	
	&::before{
		content: attr(data-name);
		font-size: 220px;
		line-height: 210px;
		left: 0;
		letter-spacing: 10px;
		position: absolute;
		bottom: auto;
		z-index: -1;
		font-weight: 700;
		text-shadow: 0 5px 40px #edf4ff;
		color: #fff;
		width: 100%;
		text-align: left;
		top: 0;
	}
	.heading-bx{
		margin-bottom: 25px;
	}
}
.our-partner-box{
	background:#fff;
	padding:30px;
	border-radius:10px;
	display: flex;
	flex-wrap: wrap;
	box-shadow:0 10px 40px 0 rgba(237,244,255,0.75);
	margin-top: -85px;
	position:relative;
	z-index:1;
	
	.partner-logo{
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
		padding: 35px;
		border-right:1px solid #e5efff;
		border-bottom:1px solid #e5efff;
		display: flex;
		align-items: center;
		
		&:nth-child(3n){
			border-right:0;
		}
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9){
			border-bottom:0;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.our-partner:before{
		font-size: 170px;
		line-height: 175px;
	}
	.our-partner .section-sp3{
		padding-top: 50px;
	}
}
@media only screen and (max-width: 991px){
	.our-partner:before{
		font-size: 100px;
		line-height: 100px;
		bottom: -15px;
	}
	.our-partner-box{
		margin-top: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.our-partner:before{
		font-size: 100px;
		line-height: 120px;
	}
}
@media only screen and (max-width: 576px) {
	.our-partner-box{
		padding: 15px;
		
		.partner-logo{
			padding: 15px;
		}
	}
	.our-partner:before{
		font-size: 60px;
		line-height: 80px;
	}
}