.ld-separator-outer {
    overflow: hidden;
}
.ld-separator {
    display: inline-block;
    height: 2px;
    width: 80px;
    margin-bottom: 10px;
    position: relative;
}
.ld-separator.sepimg,
.ld-separator.sepimg2{
	background-image:url(../images/separator.png);
	height: 13px;
    background-repeat: no-repeat;
    background-position: center;
    width: 85px;
}
.ld-separator.sepimg2{
	background-image:url(../images/separator-black.png);
}
.ld-separator.style-liner {
    width: 20px;
}
.ld-separator.style-icon {
    width: 30px;
    height: auto;
    text-align: center;
    font-size: 20px;
}
.ld-separator[class*="style-"]:after,
.ld-separator[class*="style-"]:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40px;
    width: 70px;
    height: 2px;
    background: #eee;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ld-separator[class*="style-"]:before {
    left: auto;
    right: 40px;
}
.ld-separator.bnr-title{
	height:1px;
	width: 155px;
	opacity: 0.5;
}
.ld-separator.bnr-title:before {
    height: inherit;
    right: -80px;
    width: 25px;
}
.ld-separator.bnr-title:after {
    height: inherit;
    right: -90px;
    top: 0;
    width: 6px;
}
.ld-separator.bnr-title:before,
.ld-separator.bnr-title:after{
	position:absolute;
	content:"";
	background-color:inherit;
}
.ld-separator.bnr-title i {
    background-color: inherit;
    display: block;
    height: inherit;
    position: absolute;
    right: -50px;
    width: 45px;
}