// Testimonials
.testimonial-pic {
    background: #FFF;
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    border: 5px solid #FFF;
	
	&.radius{
		border-radius: 100%;
		-webkit-border-radius: 100%;
		
		img {
			width: 100%;
			height: 100;
			border-radius: 100%;
			-webkit-border-radius: 100%;
		}
	}
	&.shadow {
		-webkit-box-shadow: 2px 3px 6px -3px rgba(0, 0, 0, 0.35);
		-moz-box-shadow: 2px 3px 6px -3px rgba(0, 0, 0, 0.35);
		box-shadow: 2px 3px 6px -3px rgba(0, 0, 0, 0.35);
	}
}
.testimonial-text {
    padding: 15px;
    position: relative;
	font-size:15px;
	font-weight: 400;
}
.testimonial-detail {
    padding: 5px;
}
.testimonial-name{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.testimonial-position {
	font-size: 12px;
    font-style: inherit;
    text-transform: uppercase;
}
.testimonial-name,
.testimonial-position {
    display: block;
}
.testimonial-text p:last-child {
    margin: 0;
}
.testimonial-bx{
	background-color: #fff;
	padding: 30px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	
	&.shadow{
		box-shadow: 0px 30px 50px 0px rgba(0,0,0,0.1);
	}
	.testimonial-content p,
	.testimonial-info p{
		margin: 0;
	}
	.testimonial-content p{
		font-size: 18px;
		line-height: 1.5;
		
		@media only screen and (max-width: 591px) {
			font-size: 16px;
		}
	}
	.testimonial-info h5{
		font-weight: 600;
		margin-bottom: 0;
		color: var(--bs-primary);
	}
	.testimonial-info {
		margin-top: 15px;
		
		&::after {
			content: "\f10e";
			position: absolute;
			font-family: fontawesome;
			font-size: 60px;
			color:var(--bs-primary);
			right: 25px;
			bottom: 0;
			z-index: 9;
			transition:all 0.5s;
			-moz-transition:all 0.5s;
			-webkit-transition:all 0.5s;
			-ms-transition:all 0.5s;
			-o-transition:all 0.5s;
		}
	}
	.testimonial-pic{
		background: #FFF;
		width: 80px;
		height: 80px;
		position: absolute;
		right: -100px;
		border-radius: 100%;
		overflow: hidden;
		bottom: -100px;
		z-index: 10;
		border: 3px solid #fff;
		box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.15);
		transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		display: block;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		-ms-transition:all 0.5s;
		-o-transition:all 0.5s;
	}
	&:hover{
		.testimonial-info:after {
			opacity:0;
		}
		.testimonial-pic {
			right: 20px;
			bottom: 20px;
			transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
		}
	}
}
.testimonial-thumb{
    width: 80px;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 8px 5px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
	z-index: 9;
}
@media (max-width: 576px) {
	.testimonial-bx{
		padding: 20px;
	}
}

// TESTIMONIAL STYLE2
.testimonial-bx.style2{
	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
	
	&.blue{
		background: #f5f5ff;
	}
	&.orange{
		background:#fff9f3;
	}
	&.red{
		background:#fff3f3;
	}
	&.red .testimonial-info:after{
		background: #fc6765;
		box-shadow: 10px 10px 50px 0px #fc6765;
		color: #fff;
	}
	&.orange .testimonial-info:after{
		background: #ffa143;
		box-shadow: 10px 10px 50px 0px #ffa143;
		color: #fff;
	}
	&.blue .testimonial-info:after{
		background: #675fff;
		box-shadow: 10px 10px 50px 0px #675fff;
		color: #fff;
	}
	&:before,
	&:after{
		content: none;
	}
	.title{
		margin-bottom: 5px;
	}
	.testimonial-thumb{
		position: absolute;
		width: 60px;
		border: 0;
		left:0;
		box-shadow: none;
		border-radius: 40px;
	}
	.client-info{
		position:relative;
		padding-left:80px;
		margin-top: 30px;
		
		.name{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 4px;
		}
	}
	.testimonial-info{
		margin-top: 0;
		padding: 5px 0;
		
		p{
			font-size: 14px;
			line-height: 22px;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
	.testimonial-info:after{
		font-size: 20px;
		right: 0;
		bottom: 0;
		background: var(--bs-light);
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		border-radius: 50px;
	}
	&:hover{
		transform:translateY(-10px);
		
		.testimonial-info:after{
			opacity:1;
		}
	}
}
.testimonial-rating{
	color:#ffb944;
	margin-bottom: 20px;
}
.client-feedback-one{
	p{
	    font-size: 28px;
		color: var(--bs-heading-color);
	}
	.feedback-info{
		font-size: 16px;
		font-weight: 600;
		color: #999999;
		margin-bottom: 20px;
	}
	.name{
		color: var(--bs-primary);
	}
	.client-thumb{
		border-radius: 4px;
		overflow: hidden;
	}
	.feedback-content{
	    padding-right: 120px;
		padding-top: 30px;
	}
	@media (max-width: 1380px){
		.feedback-content{
			padding-right: 30px;
		}
		p{
			font-size: 20px;
		}
	}
	@media (max-width: 991px){
		.feedback-content{
			padding-right: 10px;
			padding-top: 10px;
		}
		p{
			font-size: 16px;
		}
		.feedback-info{
			font-size: 15px;
			margin-bottom: 10px;
		}
	}
}
.feedback-swiper-wrapper1{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
	
	.feedback-btns{
		display: flex;
		gap: 25px;
		margin-top: 30px;

		.feedback-btn-prev1,
		.feedback-btn-next1{
			i{
				font-size: 50px;
				line-height: 1;
				color: #000;
			}
			svg{
				width: 50px;
			}
		}
		@media (max-width: 991px){
			margin-top: 10px;

			.feedback-btn-prev1,
			.feedback-btn-next1{
				svg{
					width: 30px;
				}
			}
		}
	}
}
.client-feedback-two{
	background-color: #1D1D1D;
	border-radius: 20px;
	padding: 40px 45px;
	margin-bottom: 20px;
	
	p{
	    font-size: 22px;
		color: #fff;
		
		&:last-child{
			margin-bottom: 0;
		}
	}
	.feedback-info{
		font-size: 16px;
		font-weight: 600;
		color: #999999;
		margin-bottom: 20px;
	}
	.name{
		color: var(--bs-primary);
	}
	.client-thumb{
		border-radius: 4px;
		overflow: hidden;
	}
	@media (max-width: 991px){
		padding: 30px 35px;
		
		p{
			font-size: 18px;
		}
	}
}
.client-feedback-three{
	padding: 2px;
	
	p{
		color: #fff;
		font-size: 24px;
		margin-bottom: 0;
		line-height: 1.5;
	}
	.feedback-info{
		color: #999999;
		font-size: 16px;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 23px;
		margin-top: 18px;
		font-weight: 600;
		
		i{
			color: #fff;
			font-size: 20px;
			margin-right: 8px;
			line-height: 20px;
			vertical-align: middle;
		}
		.name{
			color: #fff;
		}
	}
	@media (max-width: 1380px) {
		p{
			font-size: 20px;
		}
		.feedback-info{
			font-size: 14px;
			padding-top: 20px;
			margin-top: 15px;
			
			i{
				font-size: 16px;
				line-height: 16px;
			}
		}
	}
	@media (max-width: 591px) {
		p{
			font-size: 18px;
		}
	}
}
.client-feedback-four{
	padding: 2px;
	text-align: center;
	
	p{
		font-size: 24px;
		margin-bottom: 0;
		line-height: 1.5;
	}
	.feedback-info{
		color: #999999;
		font-size: 16px;
		margin-top: 20px;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 5px;
		justify-content: center;
		
		i{
			color: var(--bs-primary);
			font-size: 20px;
			margin-right: 8px;
			line-height: 20px;
			vertical-align: middle;
		}
		.name{
			color: var(--bs-primary);
		}
	}
	@media (max-width: 1380px) {
		p{
			font-size: 20px;
		}
		.feedback-info{
			font-size: 14px;
			
			i{
				font-size: 16px;
				line-height: 16px;
			}
		}
	}
	@media (max-width: 591px) {
		p{
			font-size: 18px;
		}
	}
}
.client-feedback-five{
	p{
		font-size: 24px;
		color: var(--bs-dark);
		font-weight: 300;
		margin-bottom: 0;
		line-height: 1.4;
	}
	.feedback-info{
		font-family: 'Manrope';
		font-weight: 600;
		font-size: 16px;
		margin-top: 25px;
	}
	.name{
		color: var(--bs-secondary);
	}
	.feedback-info{
		img{
			width: 45px;
			height: 45px;
			border-radius: 50%;
			margin-right: 10px;
		}
	}
	.quote{
		margin-bottom: 20px;
	}
	@media (max-width: 1191px) {
		.quote{
			margin-bottom: 15px;
			width: 30px;
		}
		p{
			font-size: 20px;
		}
	}
}
.feedback-media-box{
	position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-right: -10px;
	
	.feedback-media{
		overflow: hidden;
		border: 1px solid var(--bs-dark);
		padding: 10px;
		border-radius: 150px;
		background-color: #fff;
		
		img{
			border-radius: 140px;
		}
	}
	.leaf1{
		position: absolute;
		top: -30px;
		left: -120px;
		transform: rotate(180deg);
		z-index: -1;
	}
	.leaf2{
		position: absolute;
		right: -150px;
		bottom: 10px;
		transform: rotate(0deg) rotateY(-180deg);
		z-index: -1;
		width: 250px;
	}
	.lamp{
		position: absolute;
		bottom: -10px;
		right: 10px;
		animation: feedbackLeafMove 10s ease-in-out infinite;
	}
	.offer-star{
		position: absolute;
		bottom: -10px;
		left: -20px;
		filter: drop-shadow(0px 20px 50px rgba(46, 0, 77, 0.4));
		display: flex;
		
		.offer{
			color: var(--bs-primary);
			font-size: 45px;
			font-weight: 500;
			line-height: 1;
			margin-right: 5px;
		}
		.text{
			display: block;
			color: var(--bs-dark);
			font-size: 15px;
			line-height: 1.2;
		}
		.offer-content{
			position: absolute;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}
	@media (max-width: 1480px) {
		.leaf1{
			top: 20px;
			left: -80px;
			width: 150px;
		}
		.leaf2{
			right: -50px;
			width: 150px;
		}
		.lamp{
			bottom: 0;
			right: 30px;
			width: 70px;
		}
	}
	@media (max-width: 1191px) {
		.feedback-media {
			border-radius: 100px;
			
			img{
				border-radius: 90px;
			}
		}
		.offer-star .offer {
			font-size: 35px;
		}
	}
	@media (max-width: 991px) {
		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 30px;
	}
	@media (max-width: 767px) {
		margin-left: 20px;
		margin-right: 20px;
		
		.offer-star{
			width: 100px;
			
			.offer{
				font-size: 25px;
			}
			.text {
				font-size: 13px;
			}
		}
	}
	@media (max-width: 591px) {
		margin-bottom: 10px;
		
		.feedback-media {
			border-radius: 30px;
			
			img{
				border-radius: 20px;
			}
		}
		.leaf2{
			right: -25px;
			width: 50px;
		}
		.leaf1{
			left: -45px;
			width: 80px;
		}
		.lamp{
			right: 0px;
			width: 50px;
		}
		.offer-star {
			width: 80px;
			
			.offer{
				font-size: 20px;
				margin-right: 2px;
			}
			.text{
				font-size: 11px;
			}
		}
	}
}
@keyframes feedbackLeafMove {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}