// VIDEO BOX
.video-bx{
	position:relative;
	
	.video-media-bx a{
		width:80px;
		height:80px;
		border-radius:80px;
		line-height:80px;
		font-size:24px;
		
		&:hover,
		&:active,
		&:focus{
			color: #fff;
		}
	}
}
.video-media-bx{
	overflow:hidden;
	border-radius:4px;
	
	a{
		width: 110px;
		height: 110px;
		background: var(--bs-primary);
		border-radius: 100px;
		text-align: center;
		line-height: 110px;
		color: #fff;
		font-size:40px;
		display:inline-block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50% , -50%);	
		-moz-transform:translate(-50% , -50%);	
		-webkit-transform:translate(-50% , -50%);	
		-ms-transform:translate(-50% , -50%);	
		-o-transform:translate(-50% , -50%);

		&:hover,
		&:active,
		&:focus{
			color: #fff;
		}		
	}
	@media only screen and (max-width: 991px){
		img{ 
			width:100%;
		}
	}
	@media only screen and (max-width: 576px) {
		a{
			width: 80px;
			height: 80px;
			line-height: 80px;
			font-size: 26px;
		}
	}
}
.video-zoom{
	position:relative;
	
	&::after,
	&::before{
		-webkit-animation:2s scrollup infinite linear;
		-moz-animation:2s scrollup infinite linear;
		-o-animation:2s scrollup infinite linear;
		-ms-animation:2s scrollup infinite linear;
		animation:2s scrollup infinite linear;
		content:"";
		width: 100%;
		position: absolute;
		height: 100%;
		border: 1px solid var(--bs-primary);
		left: 0;
		border-radius: 100px;
	}
	&::before{
		-webkit-animation:2s scrollup1 infinite linear;
		-moz-animation:2s scrollup1 infinite linear;
		-o-animation:2s scrollup1 infinite linear;
		-ms-animation:2s scrollup1 infinite linear;
		animation:2s scrollup1 infinite linear;
	}
}
@keyframes scrollup{
	0%{
		transform:scale(1);
		opacity:1;
	}
	100%{
		transform:scale(1.7);
		opacity:0
	}
}
@keyframes scrollup1{
	0%{
		transform:scale(1);
		opacity:1;
	}
	100%{
		transform:scale(1.35);
		opacity:0
	}
}

.video-text-btn{
	display: flex;
	gap: 10px;
	align-items: center;
	
	.icon{
		background-color: var(--bs-secondary);
		height: 40px;
		width: 40px;
		border-radius: 40px;
		color: #fff;
		font-size: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.text{
		font-size: 18px;
		font-weight: 400;
		color: var(--bs-heading-color);
	}
}
.video-btn{
	height: 98px;
	width: 98px;
	border-radius: 50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50% , -50%);	
	-moz-transform:translate(-50% , -50%);	
	-webkit-transform:translate(-50% , -50%);	
	-ms-transform:translate(-50% , -50%);	
	-o-transform:translate(-50% , -50%);
	display: block;
	background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--bs-secondary);
	
	&::before{
		-webkit-animation: 1.5s scrollup infinite linear;
		-moz-animation: 1.5s scrollup infinite linear;
		-o-animation: 1.5s scrollup infinite linear;
		-ms-animation: 1.5s scrollup infinite linear;
		animation: 1.5s scrollup infinite linear;
		content:"";
		width: 100%;
		position: absolute;
		height: 100%;
		background-color: #fff;
		left: 0;
		border-radius: 50%;
		z-index: -1;
	}
	@media (max-width: 991px) {
		height: 60px;
		width: 60px;
		font-size: 20px;
	}
}
.video-media-bx2{
	border-radius: 40px;
    overflow: hidden;
	position: relative;
	
	img{
		width: 100%;
	}
	@media (max-width: 767px) {
		border-radius: 20px;
	}
}
.video-section-one{
	position: relative;
	z-index: 1;
	
	&::after{
		content: "";
		position: absolute;
		height: 40%;
		width: 100%;
		background-color: #fff;
		z-index: -1;
		left: 0;
		bottom: 0;
	}
}